<div class="container">
    	<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div style="visibility: hidden;" id="error-panel" class="panel panel-danger">
						<div class="panel-heading">Error</div>
						<div id="error-text" class="panel-body"></div>
				</div>
				<div class="panel panel-login">
					<div class="panel-heading">
						<div class="row">
							<h2>Activate</h2>
						</div>
						<hr>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-12">
								<form id="activation-form" action="/activate" method="post" role="form" style="display: block;">
									<input type="hidden" name="method" id="method" value="login">
									<div class="form-group">
										<input type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="Username" value="">
									</div>
									<div class="form-group">
										<input type="text" name="activation-code" id="activation-code" tabindex="2" class="form-control" placeholder="Activation code">
									</div>
									<div class="form-group">
										<div class="row">
											<div class="col-sm-6 col-sm-offset-3">
												<input type="submit" name="submit" id="submit" tabindex="4" class="form-control btn btn-login" value="Activate">
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>